<div class="sitek-content bg-gray">
<div class="row">
  <div class="col-md-6">
    <h3>About us</h3>
    <br/>    
    <p>Founded in 2006, SITEK INC has solid footing in its Information Technology offerings. 
        Our belief is that we are <strong>experts in the services we offer</strong> and that we work to make sure 
        our clients benefit from our knowledge. 
        There is no project to small or too large at SITEK INC your project will be delivered on time,
         within budget, and to your satisfaction every time.
      
      We work with companies of all sizes, from smaller businesses to large international corporations.
      
      At SITEK our software development team offers products designed specifically to meet your needs. 
      Because we are a growing company, we are able to offer personal attention to our software development clients. 
      We take the time to understand the needs of your business and then recommend solutions that will help you reach your goals.
      
      With an eye toward innovative solutions to your <strong>technology staffing needs</strong>, we can provide professionals 
      who are driven to help your business succeed. We have placed candidates in a number of states 
      and are building up our international clientele, giving us the experience to find 
      the right IT staffing needs for any company.
      
      Headquartered in Lexington, Kentucky, SITEK INC is an Information Technology company that provides technology 
      driven solutions for industries including: </p>
      <ul class="pdl-70">
      <li>Banking and Finance</li>
    <li>Healthcare</li>
  <li>Manufacturing and distribution</li>
<li>Utilities</li>
<li>Education</li>
    </ul>
   
  </div>
  <div class="col-md-6">
      <h3>History</h3>
    <br/>
        <p>The SITEK Team, led by President <strong>Ganesh Babu</strong>, has over 15 years of successfully delivering projects on time, within budget and most importantly to the satisfaction of our clients. Our work is always focused on meeting and exceeding customer expectations.
      </p>
    </div>
</div>
</div>