<div class="sitek-content">
<div class="row">
  <div class="col-xs-12">
    <div>
    <h3>Available Services</h3><br/>
    <ul>
      <li>
          <strong>System Architecture and Design</strong><br/>
          <p>Design is often the most critical facet in the software development life cycle. 
          In many cases, the quality of the finished software is directly proportional to the quality of the initial design. 
          Custom software development is an investment. As with any substantial investment, planning is crucial. 
          However, there is a trade-off. It is possible to over-design. This leads to lost time and money. 
          SITEK has the experience to strike the proper balance.</p>
      </li>
      <li>
          <strong>Development</strong><br/>
        <p>The key to quality development is sharp people with a well thought-out plan. 
          Good organization allows developers to modularize the development process. 
          This results in rapid implementation of a system that can be easily tested and expanded for future versions. 
          SITEK provides a highly qualified technical staff with years of software development experience.</p>
      </li>
      <li>
          <strong>Project Management</strong><br/>
          <p>SITEK clients often require additional consulting and managerial support to supplement their in-house 
            development efforts. SITEK is uniquely qualified to provide this vital support. 
            The professionals at SITEK have worked on countless software development efforts, and as a result are well 
            equipped to quickly anticipate and address problem areas on a given project. 
            SITEK can serve as troubleshooters or, if need be, assume management of an entire project.</p>
      </li>
      <li>
          <strong>Testing and Quality Assurance</strong><br/>
          <p>	With our experience in the software development field, 
            SITEK can provide an extremely valuable third-party perspective, when brought in to test/QA 
            another vendor’s software. System testing is fundamental to the quality of any software. 
            Although many developers take short-cuts and settle for only testing their software during 
            development (Alpha-Testing), we at SITEK always encourage our clients to include a distinct 
            testing phase in any software project. This testing phase allows the system to be tested as a completed unit, 
            and is usually done by someone other than the developer. Using this strategy, additional user feedback on 
            the functionality and usability of the software can be integrated prior to initial release. 
            Completion of the testing phase is accomplished through preliminary use by actual end users of the software in 
            the real world conditions at the client's site (Beta-Testing).</p>
      </li>
      <li>
          <strong>Feasibility Studies</strong><br/>
          <p>Prior to committing substantial resources to a given project, clients often want to obtain more data on 
            the obstacles related to successfully completing the project. 
            SITEK team members have experience serving in this “recon” type role. 
            They can quickly and efficiently identify the primary and secondary “hot spots”, then prepare 
            a Feasibility Report for the client. This report contains a ranked list of all the technical, logistical, 
            and managerial risks associated with the proposed project. 
            In addition, it can provides preliminary estimates for cost and time.</p>
      </li>
      <li>
          <strong>Technical Documentation and Training Services</strong><br/>
       <p>SITEK consultants have developed numerous user manuals, reference guides, and introductory training 
         materials to accompany our custom software over the years. 
         This experience has provided us with the ability to quickly generate production quality documents. 
         Rather than hiring technical writers (who are often unfamiliar with the underlying technology) 
         to extract information from developers, many of our clients simply have SITEK develop 
         the supporting materials. SITEK consultants have become so good at this in fact, that many clients
          have engaged SITEK for the sole purpose of creating technical documentation and complete training programs.</p>
      </li>
      <li>
          <strong>	Placement and Recruiting Services</strong><br/>
       <p>	Finding just the right person for a challenging technical staff position can be quite difficult. 
         Standard placement services often provide overwhelming lists of “candidates,” 
         however many of the resumes provided to the client firms are seldom worth reviewing. 
         This is because those placement firms are not technical people and cannot properly filter the resumes. 
         SITEK solves this problem for managers by taking a low volume, high quality approach. 
         With our technical background, we can serve as a front-end filter for managers who don't want 
         to spend their time reviewing every resume with “C” listed as a language.</p>
      </li>
    </ul>
  </div>
  </div>
</div>
</div>